$black: #272a31e3;
$transparent: #ffffff1c;
$orange: #ec5242;
$gray: #d3d3d3;
$dark-gray: #4a4848;
$white: #fff;

body {
  font-family: "Lato", sans-serif;
  nav {
    -webkit-box-shadow: 0px 0px 30px 3px #6a69696d;
    box-shadow: 0px 0px 30px 3px #65616163;
    img {
      height: 30%;
      width: 20%;
      float: right;
    }
    li {
      font-weight: 900;
      font-size: 2rem;
    }
  }
  #home {
    padding: 20% 5% 20% 5%;
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.925),
        rgba(255, 255, 255, 0.8)
      ),
      url("images/musical-bckg.jpg");
    background-repeat: repeat;
    .title {
      color: $orange;
    }
    h3 {
      font-weight: 500;
    }
    h1 {
      font-weight: 1000;
      mix-blend-mode: multiply;
      line-height: 1;
    }
    .lead {
      margin: 5% 0 5% 0;
      font-weight: 400;
    }
    .date {
      font-weight: 790;
      color: $dark-gray;
    }
  }
  #itinerary {
    background-color: $black;
    padding: 5% 0 3% 0;
    h3 {
      color: $white;
      font-weight: 400;
      padding: 10% 0 10% 0;
    }
    .card {
      background-color: $transparent;
      width: 98%;
      height: 40%;
      margin: 1vw 0 1vw 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 3%;
      img {
        width: 20%;
        height: 20%;
        background-color: $gray;
        border-radius: 3px;
        box-shadow: -10px 0 3px -5px $orange;
      }
      .card-title {
        color: $orange;
        font-weight: 800;
        padding: 0 2% 0 2%;
        text-align: center;
      }
      .card-text {
        color: $white;
        text-align: start;
        font-weight: 500;
      }
    }
    a {
      margin: 10% 0 5% 0;
      display: flex;
      justify-content: center;
      h3 {
        background-color: $orange;
        height: 10%;
        padding: 4%;
        width: 200px;
      }
    }
  }
  #artists {
    padding: 5% 2%;
    h4 {
      font-weight: 700;
      margin: 7% auto;
    }
    .card {
      display: flex;
      flex-direction: row;
      img {
        width: 50%;
        height: 100%;
        align-self: center;
      }
      .card-body {
        padding-bottom: 0;
        .card-title {
          font-weight: 600;
        }
        .intro {
          color: $orange;
          margin: 0;
        }
        .card-text {
          font-size: 12px;
        }
      }
    }
    a {
      margin: 5% auto;
      text-decoration: none;
      display: flex;
      justify-content: center;
    }
  }
  footer {
    height: 8vh;
    padding: 3% 3%;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px 0px 40px 4px #6a69696d;
    box-shadow: 0px 0px 30px 3px #65616163;
    img {
      height: 100%;
    }
    p {
      text-align: end;
      font-size: 0.9rem;
      margin: 0;
    }
  }
}
@media only screen and (min-width: 768px) {
  body {
    nav {
      .navbar-collapse {
        padding-left: 10%;
        padding-right: 15%;
      }
      img {
        float: none;
      }
      li {
        font-size: 1.5rem;
        font-weight: 400;
        margin: auto 2%;
      }
    }
    #home {
      padding: 10% 20% 2% 10%;
      h3 {
        font-size: 4rem;
      }
      h1 {
        font-size: 5.9rem;
      }
      .lead {
        text-shadow: 1px 1px 20px $black;
        font-size: 1.4rem;
        padding-right: 15%;
      }
      .date {
        font-size: 3.4rem;
      }
      h5 {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
    #itinerary {
      padding: 2% 0 1% 0;
      h3 {
        padding: 2% 0;
      }
      .card-container {
        display: flex;
        .card {
          display: flex;
          flex-direction: column;
          padding: 1%;
          height: 300px;
          width: 250px;
          img {
            width: 40%;
            height: 30%;
          }
          .card-title {
            padding: 0;
          }
          .card-text {
            
          }
        }
      }
    }
  }
}
